<h1>Let's Have a Party</h1>
<h2>Social playlists for your next gathering.</h2>

<ul><h3>Getting started is simple:</h3>
  <li>1. Set a date for your party</li>
  <li>2. Pick a few artists to set the mood for the event</li>
  <li>3. Invite your friends to collaborate on the playlist!</li>
</ul>

<h3>Sound cool? Let's get started!</h3