<div id="deal">
  <div class="container span7">
    <div class="row span3">
      <a class="thumbnail" href="{{url}}">
        <img src="{{image_url}}" />
      </a>
    </div>
    <div class="row span3">
      <h3>{{title}}</h3>
      <br>
      <div class="row">
        <a href="{{url}}" class="btn btn-info" target="_blank">Buy it!</a>
      </div>
      <br>
      <div class="row">
        <h6 style="margin-top: 20px; margin-left: 20px; float: left;">Ads powered by</h6>
        <a href="http://livingsocial.com"><img src="http://dcist.com/attachments/dcist_bfreed/04.24.2012_livingsocial.jpg" width="55" height="55" /></a>
      </div>
    </div>
  </div>
</div>