@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Codystar);
$orange: #F38630;
$blue: #69D2E7;
$beach: #E0E4CC;
$pond: #A7DBD8;
$unreal: #FA6900;

body {
  background-color: $pond;
}

header a { 
  text-decoration: none; color: #000;
  &:hover {
    text-decoration: none;
  }
}

h1#logo {
  font-family: 'Codystar', cursive;
  font-size: 50px;
  padding: 15px;
}

.center {
  text-align: center;
}

ul {
  list-style: none;
}

ul.artist-items {
  margin: auto;
}

.playing {
  font-weight: bold;
  background-color: $blue;
  border-radius: 5px;
}

.playlist-item { margin: 3px 0;
  p { display:block; padding: 5px 5px; }
  &:hover {
    font-weight: bold;
    background-color: $orange;
    border-radius: 5px;
    cursor: pointer;
  }
}

.btn-music {
  height: 35px;
  width: 35px;
  border-style: none;
  border-radius: 2px;
  background-color: $pond;
  &:hover {
    background-color: $unreal;
  }
}

.thumbnail {
  margin: auto;
  margin-bottom: 20px;
  background-color: black;
}

#music-controls {
  margin-top: 15px;
}

.well {
  background-color: $beach;
}