<div class="container">
  <div class="welcome">
    <h1>Let's Have a Party</h1>
    <h2>Social playlists for your next gathering.</h2>

    <ul><h3>Getting started is simple:</h3>
      <li>1. Set a date for your party</li>
      <li>2. Pick a few artists to set the mood for the event</li>
      <li>3. Invite your friends to collaborate on the playlist!</li>
    </ul>

    <h3>Sound cool? Let's <a href="#" id="get_started">get started!</a></h3>
  </div>

	<div class="new_event" style="display:none;">
    <form accept-charset="UTF-8" id="create_event_form">
      <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="&#x2713;" />
      </div>
      <table>
        <tbody>
          <tr class="event_date">
            <td><label for="event_date">When's the party?:</label></td>
            <td><input id="event_date" name="event[date]" type="text"/></td>
          </tr>
          <tr>
            <td><label for="event_name">Name:</label></td>
            <td><input id="event_name" name="event[name]" type="text" /></td>
          </tr>
          <tr>
            <td><label for="event_details">Details:</label></td>
            <td><input id="event_details" name="event[details]" type="text" /></td>
          </tr>
          <tr>
            <td><label for="event_location">Where:</label></td>
            <td><input id="event_location" name="event[location]" type="text" /></td>
          </tr>
        </tbody>
      </table>
    </form>
    <a href="#" id="go_welcome">Back</a>
    <a href="#" id="pick_tracks">Next Step</a>
	</div>
	<div class="playlist_primer" style="display:none;">
    <a href="#" id="create_event">Back to Event</a>
    <a href="#" id="generate">Create My Playlist!</a>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    new Generator({el: $('.container')});
  })
</script>