<div class="container center" style="margin-top: 20px;">
  <div class="well span5 offset3 generator">
    <header class="welcome">
      <h1 id="logo">Party Time!</h1>
      <h3>Social playlists.</h3>

      <ul><h4>Getting started is simple:</h3>
        <li>1. Pick up to five artists to set the mood for your party.</li>
        <li>2. We'll craft a playlist of 15 songs to get things started.</li>
        <li>3. Invite your friends to collaborate on the playlist.</li>
      </ul>
    </header>
    <h2>Choose a few artists</h2>
  	<div class="recommender">
      <div class="artists">
        <ul class="artist-items">
          <li class="artist-item">
            <input id="artist" name="artists[]" placeholder="The Black Keys" type="text">
          </li>
          <li class="artist-item">
            <input id="artist" name="artists[]" placeholder="NSYNC" type="text">
          </li>
          <li class="artist-item">
            <input id="artist" name="artists[]" placeholder="Bob Dylan" type="text">
          </li>
          <li class="artist-item">
            <input id="artist" name="artists[]" placeholder="Bon Iver" type="text">
          </li>
          <li class="artist-item">
            <input id="artist" name="artists[]" placeholder="Raffi" type="text">
          </li>
        </ul>
      </div>
      <button class="btn btn-primary" id="recommend">Create My Playlist!</button>
  	</div>
  </div>
  <div class="modal fade" id="loading">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3 class="center">Generating your playlist!</h3>
      <h5 class="center">In the meantime...</h5>
    </div>
    <div class="modal-body" id="deal">
      <p></p>
    </div>
    <div class="modal-footer center">
      <div class="progress progress-striped active" style="margin-top: 15px;">
        <div class="bar" style="width: 100%"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    new Recommender({el: $('.container')});
  })
</script>