<%= content_for(:head) do %>
  <%= playlist_id_tag %>
<% end %>

<div class="container" style="margin-top: 20px;">
  <h1>Playlist</h1>
  <div class="row span4">
    <div class="player well">
      <div id="api"></div>
      <img id="art" src="" height="200" width="200">
      <div><b>Track: </b><span id="track"></span></div>
      <div><b>Album: </b><span id="album"></span></div>
      <div><b>Artist: </b><span id="artist"></span></div>
      <div><b>Position: </b>
        <span style="display:inline-block;width:200px;border:1px solid black;">
          <span id="position" style="display:inline-block;background-color:#666">&nbsp;</span>
        </span></div>
      <div>
        <button class="btn" id="previous">&lt;&lt;</button>
        <button class="btn" id="play">|&gt;</button>
        <button class="btn" id="pause">||</button>
        <button class="btn" id="next">&gt;&gt;</button>
      </div>
    </div>
    <div class="search">
      <form id='search_form'>
        <input type='text' id="query" placeholder='Bon Iver - Skinny Love' />
        <input class="btn btn-primary" type='submit' value='Search' />
      </form>
      <ul class="search_items">
      </ul>
    </div>
  </div>
  <div class="playlist well span6">
    <h2>Tracks</h2>
    <ol class="playlist-items">
    </ol>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    new Party({el: $('.container')});
  })
</script>